
#face{
		width:500px;
		height:500px;
		border-radius:50%;
		background-color: pink;
}
.eye{
	position: relative;
  		left: 180px;
	display: inline-block;
		width: 100px;
      	height: 100px;
     	background: white;
      	border-radius: 50%
}
.pupil{
	position: relative;
  		left: 50px;
	display: inline-block;
		width: 50px;
      	height: 50px;
      	background: black;
      	border-radius: 50%
}
#mouth{
	position:fixed;
bottom: 380px;
  right:1100px;
	display: inline-block;
		width: 100px;
      	height: 100px;
      	background: red;
      	border-radius: 50%
}
#nose{
	display: inline-block;
	position: fixed;
  		bottom: 490px;
  		right: 1100px;
	 	width: 0px;
      	height: 50px;
      	border-left: 50px solid transparent;
      	border-right: 50px solid transparent;
      	border-bottom: 200px solid blue;
}		
#triangle-bottomright {
  		position: relative;
  		bottom:-173px;
  		right: 220px;
      width: 100;
      height: 100;
      border-bottom: 100px solid black;
      border-left: 200px solid transparent;
      border-right: 200px solid transparent;
    }
#triangle-bottomleft {
  		position: relative;
  		bottom:200px;
  		right:200px;
      width: 100;
      height: 100;
      border-bottom: 100px solid yellow;
      border-right: 100px solid transparent;
    }
